---
title: Stephen's Eleventy Boilerplate
js: 
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    {% block head %}{% endblock %}
    <script src="/common-js/alpine.js?v={% version %}"></script>
    {% if js %}
      <script src="{{ js }}?v={% version %}"></script>
    {% endif %}
    
  </head>
  <body>
    {% include "partials/header.njk" %}

    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </body>
</html>