@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .change {
        color: black;
    }
}

html {
    scroll-behavior: smooth;
}

a {
    @apply text-darkHighlight;
}

body {
    @apply font-body bg-lightest text-darkBase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-heading text-xl text-darkBase;
}

h1 {
    @apply lg:text-6xl text-4xl my-4;
}

h2 {
    @apply lg:text-5xl text-2xl my-2;
}

h3 {
    @apply lg:text-4xl text-xl my-1;
}

h5 {
    @apply text-2xl my-2;
}

:focus {
    outline: none !important;
}

.slideDownWrapper {
    transition: height 0.3s ease-out;
    height: 0;
    overflow: hidden;
}

nav.btn {
    @apply px-3 py-2 rounded-md text-sm font-medium text-blue-800 hover:bg-blue-200;
}

nav.btn.active {
    @apply bg-blue-800 text-white;
}

.btn {
    @apply px-4 py-2 rounded-md text-sm font-medium bg-button text-white hover:bg-blue-900 inline-flex;
}

/* Tooltip text */
.tooltip .tooltiptext {
    @apply font-sans font-bold w-32 bg-purple-200 text-center rounded-md py-1 text-xs absolute z-10 opacity-0 transition-opacity duration-300 transform translate-y-5;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    @apply opacity-100;
}

.faq-question {
    @apply font-bold mt-4;
}
