---
title: 11ty Boilerplate
js:
fontAwesomeKitID: 2229cc8bf4
googleFontsURL: <style>@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins&display=swap');</style>
extraNav:
  -
    key: CMS Admin
    url: 'admin'
wip: true
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8"/>
        {% if description %}
            <meta name="description" content="{{description}}"/>
        {% endif %}
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
        <link rel="stylesheet" href="/css/style.css?v={% version %}"/>
        <link rel="shortcut icon" href="/assets/favicon.ico"/>

        <script src="https://kit.fontawesome.com/{{ fontAwesomeKitID }}.js" crossorigin="anonymous"></script>
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script src="/common-js/bundle.js?v={% version %}"></script>
        <script src="/usefulFuncs.js"></script>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

        {% if js %}
            <script src="{{ js }}?v={% version %}"></script>
        {% endif %}

        {{ googleFontsURL | safe }}

    </head>
    <body>
        {% if wip %}
            <div class="overflow-hidden absolute transform -rotate-45 bg-gray-300 text-gray-600 top-9 z-0 left-12 text-sm w-56 -translate-x-1/2 p-x text-center origin-center">Work in Progress</div>
        {% endif %}

        {% block content %}
            {{ content | safe }}
        {% endblock %}
    </body>
</html>
